<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
      }

      li {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        color: #444;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease;
      }

      li:hover {
        border-bottom: 3px solid #f00;
        color: #f00;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>Burgers</li>
      <li>Chicken</li>
      <li>Salads</li>
      <li>Drinks</li>
      <li>Frosty</li>
    </ul>
  </body>
</html>
