.group {
    position: absolute;
    width: 251px;
    height: 54px;
    left: 1027px;
    top: 1982px;
  }
  
  .rectangle-4 {
    box-sizing: border-box;
    position: absolute;
    width: 251px;
    height: 54px;
    left: 1027px;
    top: 1982px;
    background: #031CFF;
    border-radius: 100px;
  }
  
  .discover-adventure {
    position: absolute;
    width: 151px;
    height: 22px;
    left: 1076px;
    top: 1998px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 100px;
  }
  
  .copyright {
    position: absolute;
    left: 30.49%;
    right: 30.42%;
    top: 98.69%;
    bottom: 0.3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9597A6;
  }
  
  .group-8-1 {
    position: absolute;
    width: 123px;
    height: 40px;
    left: 652px;
    top: 4094px;
  }
  
  .go-fig {
    position: absolute;
    width: 75px;
    height: 36px;
    left: 700px;
    top: 4098px;
    font-family: 'Campton';
    font-size: 25.886px;
    line-height: 30px;
    color: #0B0E2D;
  }
  
  .group-2 {
    position: absolute;
    width: 39.6px;
    height: 39.6px;
    left: 652px;
    top: 4133.6px;
    transform: rotate(-90deg);
  }
  
  .group {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 671.8px;
    top: 4133.6px;
    transform: rotate(-135deg);
  }
  
  .rectangle-5 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 671.8px;
    top: 4133.6px;
    background: #A159F9;
    mix-blend-mode: multiply;
    transform: rotate(-135deg);
  }
  
  .rectangle-5-1 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 671.8px;
    top: 4094px;
    background: #19CF87;
    mix-blend-mode: multiply;
    transform: rotate(45deg);
  }
  
  .rectangle-5-3 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 691.6px;
    top: 4113.8px;
    background: #1FBCFA;
    mix-blend-mode: multiply;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  }
  
  .rectangle-5-2 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 652px;
    top: 4113.8px;
    background: #F24F2B;
    mix-blend-mode: multiply;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  }
  
  .rectangle {
    position: absolute;
    width: 1646px;
    height: 488px;
    left: -119px;
    top: 4055px;
    background: #FFFFFF;
  }
  

  .group-4-1 {
    position: absolute;
    width: 537px;
    height: 600.78px;
    left: 419px;
    top: 3546px;
  }
  
  .union {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 419px;
    top: 3880.78px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #0B0D2B 0%, rgba(11, 14, 45, 0) 100%);
    opacity: 0.4;
  }
  
  .group {
    position: absolute;
    width: 506px;
    height: 444px;
    left: 450px;
    top: 3546px;
  }
  
  .rectangle-4 {
    position: absolute;
    width: 251px;
    height: 54px;
    left: 579px;
    top: 3714px;
    background: #031CFF;
    border-radius: 100px;
  }
  
  .reserve-now {
    position: absolute;
    width: 122px;
    height: 22px;
    left: 643px;
    top: 3730px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
  }
  
  .whatcha-waiting-for {
    position: absolute;
    left: 531px;
    right: 555px;
    top: 86.28%;
    bottom: 12.93%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #FEFEFE;
  }
  