.group {
    position: absolute;
    width: 251px;
    height: 54px;
    left: 1027px;
    top: 1982px;
  }
  
  .rectangle-4 {
    box-sizing: border-box;
    position: absolute;
    width: 251px;
    height: 54px;
    left: 1027px;
    top: 1982px;
    background: #031CFF;
    border-radius: 100px;
  }
  
  .discover-adventure {
    position: absolute;
    width: 151px;
    height: 22px;
    left: 1076px;
    top: 1998px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 100px;
  }
  
  .copyright {
    position: absolute;
    left: 30.49%;
    right: 30.42%;
    top: 98.69%;
    bottom: 0.3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #9597A6;
  }
  
  .group-8-1 {
    position: absolute;
    width: 123px;
    height: 40px;
    left: 652px;
    top: 4094px;
  }
  
  .go-fig {
    position: absolute;
    width: 75px;
    height: 36px;
    left: 700px;
    top: 4098px;
    font-family: 'Campton';
    font-size: 25.886px;
    line-height: 30px;
    color: #0B0E2D;
  }
  
  .group-2 {
    position: absolute;
    width: 39.6px;
    height: 39.6px;
    left: 652px;
    top: 4133.6px;
    transform: rotate(-90deg);
  }
  
  .group {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 671.8px;
    top: 4133.6px;
    transform: rotate(-135deg);
  }
  
  .rectangle-5 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 671.8px;
    top: 4133.6px;
    background: #A159F9;
    mix-blend-mode: multiply;
    transform: rotate(-135deg);
  }
  
  .rectangle-5-1 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 671.8px;
    top: 4094px;
    background: #19CF87;
    mix-blend-mode: multiply;
    transform: rotate(45deg);
  }
  
  .rectangle-5-3 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 691.6px;
    top: 4113.8px;
    background: #1FBCFA;
    mix-blend-mode: multiply;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  }
  
  .rectangle-5-2 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 652px;
    top: 4113.8px;
    background: #F24F2B;
    mix-blend-mode: multiply;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  }
  
  .rectangle {
    position: absolute;
    width: 1646px;
    height: 488px;
    left: -119px;
    top: 4055px;
    background: #FFFFFF;
  }
  

  .group-4-1 {
    position: absolute;
    width: 537px;
    height: 600.78px;
    left: 419px;
    top: 3546px;
  }
  
  .union {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 419px;
    top: 3880.78px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #0B0D2B 0%, rgba(11, 14, 45, 0) 100%);
    opacity: 0.4;
  }
  
  .group {
    position: absolute;
    width: 506px;
    height: 444px;
    left: 450px;
    top: 3546px;
  }
  
  .rectangle-4 {
    position: absolute;
    width: 251px;
    height: 54px;
    left: 579px;
    top: 3714px;
    background: #031CFF;
    border-radius: 100px;
  }
  
  .reserve-now {
    position: absolute;
    width: 122px;
    height: 22px;
    left: 643px;
    top: 3730px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
  }
  
  .whatcha-waiting-for {
    position: absolute;
    left: 531px;
    right: 555px;
    top: 86.28%;
    bottom: 12.93%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #FEFEFE;
  }
  
  .group-11 {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 1061px;
    top: 2982px;
  }
  
  .rectangle-5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12.39%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 15.5651px 194.563px rgba(0, 0, 0, 0.15);
  }
  
  .rating-stars {
    position: absolute;
    left: 38.92%;
    right: 37.5%;
    top: 46.03%;
    bottom: 49.65%;
  }
  
  .star {
    position: absolute;
    background: #031CFE;
  }
  
  .star.star1 {
    left: 38.92%;
    right: 56.9%;
  }
  
  .star.star2 {
    left: 43.8%;
    right: 52.03%;
  }
  
  .star.star3 {
    left: 48.67%;
    right: 47.15%;
  }
  
  .star.star4 {
    left: 53.55%;
    right: 42.27%;
  }
  
  .intersect {
    position: absolute;
    left: 58.52%;
    right: 37.5%;
    top: 46.03%;
    bottom: 50.06%;
    background: #CFCFCF;
  }
  
  .mask-group {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
  }
  
  .ellipse {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
    background: #C4C4C4;
  }
  
  .image-2 {
    position: absolute;
    left: 36.93%;
    right: 36.93%;
    top: -0.29%;
    bottom: 73.78%;
    background: url(image.png);
  }
  
  .lauren-montane {
    position: absolute;
    left: 21.02%;
    right: 21.31%;
    top: 31.82%;
    bottom: 59.82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18.6781px;
    line-height: 22px;
    text-align: center;
    color: #0B0E2D;
  }
  
  .review-text {
    position: absolute;
    left: 10.8%;
    right: 12.22%;
    top: 59.32%;
    bottom: 22.23%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 17.8998px;
    line-height: 21px;
    text-align: center;
    color: #9597A6;
  }
  
  .group-11 {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 817px;
    top: 3118px;
  }
  
  .rectangle-5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12.39%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 15.5651px 194.563px rgba(0, 0, 0, 0.15);
  }
  
  .rating-stars {
    position: absolute;
    left: 38.92%;
    right: 37.5%;
    top: 46.03%;
    bottom: 49.65%;
  }
  
  .star {
    position: absolute;
    background: #031CFE;
  }
  
  .star.star1 {
    left: 38.92%;
    right: 56.9%;
  }
  
  .star.star2 {
    left: 43.8%;
    right: 52.03%;
  }
  
  .star.star3 {
    left: 48.67%;
    right: 47.15%;
  }
  
  .star.star4 {
    left: 53.55%;
    right: 42.27%;
  }
  
  .intersect {
    position: absolute;
    left: 58.52%;
    right: 37.5%;
    top: 46.03%;
    bottom: 50.06%;
    background: #031CF9;
  }
  
  .mask-group {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
  }
  
  .ellipse {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
    background: #C4C4C4;
  }
  
  .image-2 {
    position: absolute;
    left: 36.93%;
    right: 36.93%;
    top: -0.29%;
    bottom: 73.78%;
    background: url(image);
  }
  
  .bruno-felicio {
    position: absolute;
    left: 21.02%;
    right: 21.31%;
    top: 31.82%;
    bottom: 59.82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18.6781px;
    line-height: 22px;
    text-align: center;
    color: #0B0E2D;
  }
  
  .review-text {
    position: absolute;
    left: 10.8%;
    right: 12.22%;
    top: 59.32%;
    bottom: 22.23%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 17.8998px;
    line-height: 21px;
    text-align: center;
    color: #9597A6;
  }
  
  
  .testimonials {
    position: absolute;
    width: 422px;
    height: 26px;
    left: 514px;
    top: 2831px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #031CFF;
  }
  
  .quotation-mark {
    position: absolute;
    width: 196.47px;
    height: 153.84px;
    left: 612px;
    top: 2754px;
    background: #000000;
    opacity: 0.05;
  }
  
  .testimonial-group {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 573px;
    top: 2982px;
  }
  
  .testimonial-box {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12.39%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 15.5651px 194.563px rgba(0, 0, 0, 0.15);
  }
  
  .rating-stars {
    position: absolute;
    left: 38.92%;
    right: 37.5%;
    top: 46.03%;
    bottom: 49.65%;
  }
  
  .star {
    position: absolute;
    background: #031CFE;
  }
  
  .star:nth-child(4) {
    background: #031CFD;
  }
  
  .intersect {
    position: absolute;
    background: #CFCFCF;
  }
  
  .mask-group {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
  }
  
  .ellipse {
    position: absolute;
    background: #C4C4C4;
  }
  
  .image {
    position: absolute;
    background: url(image.png);
  }
  
  .testimonial-name {
    position: absolute;
    left: 21.02%;
    right: 21.31%;
    top: 31.82%;
    bottom: 59.82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18.6781px;
    line-height: 22px;
    text-align: center;
    color: #0B0E2D;
  }
  
  .testimonial-text {
    position: absolute;
    left: 10.8%;
    right: 12.22%;
    top: 59.32%;
    bottom: 22.23%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 17.8998px;
    line-height: 21px;
    text-align: center;
    color: #9597A6;
  }
  
  .testimonial-group {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 329px;
    top: 3118px;
  }
  
  .testimonial-box {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12.39%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 15.5651px 194.563px rgba(0, 0, 0, 0.15);
  }
  
  .rating-stars {
    position: absolute;
    left: 38.92%;
    right: 37.5%;
    top: 46.03%;
    bottom: 49.65%;
  }
  
  .star {
    position: absolute;
    background: #031CFE;
  }
  
  .star:nth-child(4) {
    background: #031CFC;
  }
  
  .intersect {
    position: absolute;
    background: #CFCFCF;
  }
  
  .mask-group {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
  }
  
  .ellipse {
    position: absolute;
    background: #C4C4C4;
  }
  
  .image {
    position: absolute;
    background: url(image);
  }
  
  .testimonial-name {
    position: absolute;
    left: 21.02%;
    right: 21.31%;
    top: 31.82%;
    bottom: 59.82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18.6781px;
    line-height: 22px;
    text-align: center;
    color: #0B0E2D;
  }
  
  .testimonial-text {
    position: absolute;
    left: 10.8%;
    right: 12.22%;
    top: 59.32%;
    bottom: 22.23%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 17.8998px;
    line-height: 21px;
    text-align: center;
    color: #9597A6;
  }
  
  .testimonial-group {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 85px;
    top: 2983px;
  }
  
  .testimonial-box {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12.39%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 15.5651px 194.563px rgba(0, 0, 0, 0.15);
  }
  
  .rating-stars {
    position: absolute;
    left: 38.92%;
    right: 37.5%;
    top: 46.03%;
    bottom: 49.65%;
  }
  
  .star {
    position: absolute;
    background: #031CFE;
  }
  
  .intersect {
    position: absolute;
    background: #CFCFCF;
  }
  
  .mask-group {
    position: absolute;
    left: 37.5%;
    right: 38.07%;
    top: 0%;
    bottom: 75.22%;
  }
  
  .ellipse {
    position: absolute;
    background: #C4C4C4;
  }
  
  .image {
    position: absolute;
    background: url(image.png);
  }
  
  .testimonial-name {
    position: absolute;
    left: 21.02%;
    right: 21.31%;
    top: 31.82%;
    bottom: 59.82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18.6781px;
    line-height: 22px;
    text-align: center;
    color: #0B0E2D;
  }
  
  .testimonial-text {
    position: absolute;
    left: 10.8%;
    right: 12.22%;
    top: 59.32%;
    bottom: 22.23%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 17.8998px;
    line-height: 21px;
    text-align: center;
    color: #9597A6;
  }

  .rectangle2 {
    position: absolute;
    width: 420px;
    height: 747px;
    left: 980px;
    top: 99px;
    background: #031CFF;
    mix-blend-mode: multiply;
  }
  
  .image2 {
    position: absolute;
    width: 1597px;
    height: 2395px;
    left: -44px;
    top: 2643px;
    background: linear-gradient(175.58deg, rgba(11, 14, 45, 0) 19.12%, rgba(11, 14, 45, 0.56) 71.28%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(image.png);
  }
  
  .pagination {
    position: absolute;
    width: 374px;
    height: 15px;
    left: 996px;
    top: 2543px;
  }
  
  .pagination .vector {
    position: absolute;
    width: 24px;
    height: 15px;
    right: 70px;
    top: 0;
    background: #021CFF;
    border: 1px solid #021CFF;
  }
  
  .pagination .vector-reversed {
    position: absolute;
    width: 24px;
    height: 15px;
    right: 396px;
    top: 0;
    background: #9597A6;
    opacity: 0.2;
    border: 1px solid #021CFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  
  .pagination .ellipse {
    position: absolute;
    width: 11px;
    height: 11px;
  }
  
  .pagination .ellipse:nth-child(1) {
    left: 1085px;
    top: 2px;
    background: #C4C4C4;
    opacity: 0.3;
  }
  
  .pagination .ellipse:nth-child(2) {
    left: 1119px;
    top: 2px;
    background: #C4C4C4;
    opacity: 0.3;
  }
  
  .pagination .ellipse:nth-child(3) {
    left: 1153px;
    top: 2px;
    background: #031CFF;
  }
  
  .pagination .ellipse:nth-child(4) {
    left: 1187px;
    top: 2px;
    background: #C4C4C4;
    opacity: 0.3;
  }
  
  .pagination .ellipse:nth-child(5) {
    left: 1221px;
    top: 2px;
    background: #C4C4C4;
    opacity: 0.3;
  }
  
  .pagination .ellipse:nth-child(6) {
    left: 1255px;
    top: 2px;
    background: #C4C4C4;
    opacity: 0.3;
  }
  
  .pagination .ellipse.active {
    opacity: 1;
  }
  
  .active-slide {
    position: absolute;
    width: 680px;
    height: 443px;
    left: 246px;
    top: 2173px;
  }
  
  .active-slide .image {
    position: absolute;
    width: 680px;
    height: 443px;
    left: 0;
    top: 0;
    background: url(fcdbf560745231);
  }
  
  .active-slide .vector {
    position: absolute;
    width: 27px;
    height: 23px;
    left: 275px;
    top: 2205px;
    background: #FFFFFF;
    opacity: 0.3;
  }
  
  .active-slide .group-10 {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 848px;
    top: 2535px;
  }
  
  .active-slide .group-10 .ellipse {
    box-sizing: border-box;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 0;
    top: 0;
    border: 0.5px solid #FFFFFF;
  }
  
  .active-slide .group-10 .group-9 {
    position: absolute;
    width: 29px;
    height: 30px;
    left: 869px;
    top: 2552px;
  }
  
  .active-slide .group-10 .group-9 .number {
    position: absolute;
    width: 5px;
    height: 12px;
    background: #FFFFFF;
  }
  
  .active-slide .group-10 .group-9 .number:nth-child(1) {
    left: 0;
    top: 0;
  }
  
  .active-slide .group-10 .group-9 .number:nth-child(2) {
    left: 14px;
    top: 0;
    opacity: 0.4;
  }
  
  .active-slide .group-10 .group-9 .line {
    position: absolute;
    width: 22.63px;
    height: 0px;
    left: 0;
    top: 6px;
    border: 1px solid #FFFFFF;
    transform: rotate(-45deg);
  }
  
  .quotation-mark {
    position: absolute;
    left: 42.85%;
    right: 42.22%;
    top: 55.51%;
    bottom: 41.1%;
    background: #E8E8EA;
    opacity: 0.3;
  }
  
  .rectangle-6 {
    position: absolute;
    width: 514px;
    height: 203px;
    left: 1440px;
    top: 2464px;
    background: linear-gradient(180deg, #CE9671 20.79%, rgba(206, 150, 113, 0) 100%);
    background-blend-mode: screen;
    opacity: 0.6;
    transform: rotate(-180deg);
  }
  
  .union {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 360px;
    top: 1468px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #0B0D2B 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .mask-group {
    position: absolute;
    width: 514px;
    height: 352px;
    left: 926px;
    top: 1984px;
  }
  
  .mask-group .rectangle-7 {
    position: absolute;
    width: 514px;
    height: 352px;
    left: 926px;
    top: 1984px;
    background: #C4C4C4;
  }
  
  .mask-group .image-03141558877571 {
    position: absolute;
    width: 514px;
    height: 367px;
    left: 926px;
    top: 1985px;
    background: url(03141558877571);
  }
  
  .group-12 {
    position: absolute;
    width: 1154px;
    height: 266px;
    left: 143px;
    top: 3035px;
    opacity: 0.4;
  }
  
  .group-12 .group-12-item {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 994px;
    top: 3035px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .group-12 .union-1 {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 698px;
    top: 3035px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .group-12 .union-2 {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 439px;
    top: 3035px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .group-12 .union-3 {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 143px;
    top: 3035px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .union {
    position: absolute;
    width: 303px;
    height: 266px;
    left: 111px;
    top: 2075px;
    background: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
  }
  
  .more-exploration {
    position: absolute;
    visibility: hidden;
    width: 205px;
    height: 94px;
    left: 261px;
    top: 1917px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #FEFEFE;
  }
  
  .more-to-explore {
    position: absolute;
    width: 250px;
    height: 75px;
    left: 246px;
    top: 1983px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FEFEFE;
  }
  
  .paragraph {
    position: absolute;
    width: 382px;
    height: 79px;
    left: 555px;
    top: 1982px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
  
  .group-7 {
    position: absolute;
    width: 28px;
    height: 361px;
    left: 50px;
    top: 623px;
  }
  
  .connect {
    position: absolute;
    width: 185px;
    height: 17px;
    left: 55px;
    top: 808px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #031CFF;
    transform: rotate(-90deg);
  }
  
  .twitter-icon,
  .facebook-icon,
  .youtube-icon {
    position: absolute;
    width: 28px;
    height: 23px;
    left: 50px;
  }
  
  .twitter-icon {
    top: 843px;
    background: #031CFF;
  }
  
  .facebook-icon {
    top: 901px;
    opacity: 0.2;
  }
  
  .youtube-icon {
    top: 964px;
    background: #CCCCCC;
  }
  