h1 {
    border-bottom: 1px solid #000;
}

div {

}

div a {

}

div a img {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 
a {
    text-decoration: none;
    color: #000;
}
 
:hover a {
    text-decoration: underline;
}