.fade-container {
    background-color: black;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.fade-text {
    color: white;
    position: relative;
    z-index: 2;
    transition: color 1s;
}