body {
    background-image: url("drill-monkey-01_2x3.avif");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 500px;
    background-attachment: fixed;
    background-size: 400px 358px;
  }