body {
    background-image: url("drill-monkey-01_2x3.avif");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    background-size: 200px 358px;
  }