nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
     text-decoration: none;
  }

  nav li:hover a {
    text-decoration: none;
  }
  
  nav li {
    text-decoration: none;
  }
  
nav li:first-child {
    margin-left: 0;
  }
  
  nav ul li:last-child {
    margin-left: auto;
  }

  nav {
    border-bottom: 1px solid #000;
    }

    div {

    }

    div h2 {
       background-color: red;
       color: #6E0D25;
    }

    div p {
       background-color: green;
        color: #00d491e1;
        text-align: center;
    }
